<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css" type="text/css">


  <title>Document</title>
</head>
<header>
  <nav class="sub-header">
    <ul class="sub-menu">
      <li><a href="">InShim소개</a></li>
      <li><a href="">고객지원</a></li>
      <li><a href="">예약조회</a></li>
    </ul>
    <div class="sub-login">
      <a href="">로그인/회원가입</a>
    </div>
  </nav>
</header>
<header>
  <nav class="main-header">
    <div class="header-logo">
      <a href="#">INSHIM</a>
    </div>
    <ul class="main-menu">
      <li><a href="">지역소개</a></li>
      <li><a href="/userinfo">코스보기</a></li>
      <li><a href="">후기보기</a></li>
      <li><a href="">프로모션</a></li>
    </ul>
  </nav>
</header>

<body>

</body>

</html>