<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="login">
      <input
        name="user_id"
        id="uesr-id"
        type="text"
        placeholder="아이디"
        required
      />
      <br />
      <input
        name="user_pw"
        id="user-pw"
        type="text"
        placeholder="비밀번호"
        required
      />
      <br />
      <button type="button" onclick="loginFunc()">로그인</button>
      <button type="button" onclick="location.href='/register'">
        회원가입
      </button>
    </form>

    <script>
      const form = document.forms["login"];
      function loginFunc() {
        const userIdInput = form.user_id;
        const userId = userIdInput.value;
        const userPwInput = form.user_pw;
        const userPw = userPwInput.value;

        if (userId === "") {
          alert("아이디를 입력해주세요");
          userIdInput.focus();
          return false;
        }

        if (userPw === "") {
          alert("비밀번호를 입력해주세요");
          userPwInput.focus();
          return false;
        }

        axios({
          method: "post",
          url: "/login",
          data: {
            user_id: form.user_id.value,
            user_pw: form.user_pw.value,
          },
        }).then((res) => {
          console.log(res.data.result);
          console.log(res.data.message);
          console.log(res.data.loggedin_user_name);
          location.href = "/";
        });
      }
    </script>
  </body>
</html>
