<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h3>회원 정보</h3>

    <button type="button" onclick="logoutFunc()">로그아웃</button>
    <script>
      function logoutFunc() {
        axios({
          method: "post",
          url: "/mypage/logout",
          data: {
            loggedin_user: sessionStorage.getItem("loggedin_user"),
          },
        });
      }
    </script>
  </body>
</html>
