/* 스위트 */
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;
  --border-radius: 10px;
  --font-weight-bold: 700;
  --font-weight-thin: 300;
  --main-color: black;
  --highlight-color: #b9f3e4;
  --white: #fff;
  --lightblack: #858585;
}

form {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input {
  font-family: "SUITE-Regular";
  display: block;
  margin-bottom: -10px;
  width: 96%;
  height: 25px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  display: block;
  font-family: "SUITE-Regular";
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--lightblack);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: black;
}
