/* 스위트 */
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;
  --border-radius: 10px;
  --font-weight-bold: 700;
  --font-weight-thin: 300;
  --main-color: black;
  --highlight-color: #b9f3e4;
  --white: #fff;
  --lightblack: #858585;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "SUITE-Regular", sans-serif;
}

h3 {
  font-size: var(--font-lg);
}

#user_info div {
  font-size: var(--font-md);
  display: flex;
  align-items: center;
}
#user_info div p {
  margin-left: 10px;
}
